<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MongoDB Data Table</title>
    <link rel="stylesheet" href="/static/styles.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section class="hero-section">
        <nav>
            <p class="logo"> AAC <span>Shelter</span></p>
            <ul class="nav-links">
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="aac.html" class="">Animal List</a></li>
                <li><a href="#about" class="">About us</a></li>
                <li><a href="fosteringforum.html" class="">Need Shelter</a></li>
                <li><a href="volunteerforum.html" class="">Volunteer</a></li>
            </ul>
            <div class="hamburger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        <div class="hero-content">
            <h1 class="header1">A Friend Who Needs A Home</h1>
        </div>
    </section>
    <section class="explore-section">
        <div class="header">
            <h2>looking to adopt, volunteer, have a pet who needs shelter?</h2>
            <div class="line"></div>
        </div>
        <div class="gallery">
            <div class="gallery-item">
                <img src="/images/cat.jpg" alt="cat">
                <div class="overlay">
                    <h3><a href="aac.html">Shelter Pet Status</a> </h3>
                </div>
            </div>
        </div>
        <div class="gallery">
            <div class="gallery-item">
                <img src="/images/Volunteer.jpg" alt="volunteer-with-puppy">
                <div class="overlay">
                    <h3><a href="volunteerforum.html"> Volunteer form</a></h3>
                </div>
            </div>
        </div>
        <div class="gallery">
            <div class="gallery-item">
                <img src="/images/adopt.jpeg" alt="puppy">
                <div class="overlay">
                    <h3><a href="fosteringforum.html"> Needing Shelter </a></h3>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="about_section">
        <div class="about-countainer">
            <div class="header">
                <h2 style="color:white">Our Mission</h2>
                <div class="line"></div>
            </div>
            <div class="about_details">
                <p>
                    Our Mission here are AAC Shelter is to care and support the animals who come through our doors.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <a href="ourmission.html" class="cta-btn">
                    <span> Learn More</span>
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </section>
    <section id="contactus" class="contact-section">
        <div class="header">
            <h2>For any Questions contact us!</h2>
            <div class="line"></div>
        </div>
        <div class="contact-container">
            <form action="https://formsubmit.co/jorden.thomas@snhu.edu" method="POST" class="form-container">
                <div class="input-container">
                    <input type="text" placeholder="Your Name">
                </div>
                <div class="input-container">
                    <input type="text" placeholder="Your email">
                </div>
                <div class="input-container">
                    <textarea placeholder="Your Message"></textarea>
                </div>
                <div class="button-container">
                    <button class="cta-btn">Send Message</button>
                </div>
            </form>
            <div class="contact-details">
                <div class="info">
                    <h3>Address</h3>
                    <p>123 Applegreen Drive, Bikini Bottom, 458652</p>
                </div>
                <div class="info">
                    <h3>Email</h3>
                    <p>aacShelter@aac.com</p>
                </div>
                <div class="info">
                    <h3>Phone</h3>
                    <p>1(643)-322-1004</p>
                </div>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>

    </section>

    <script>
        const menuBtn = document.querySelector(".hamburger-menu");
        const links = document.querySelector(".nav-links")

        menuBtn.addEventListener("click". openMenu);

        function openMenu(){
            links.classList.toggle("menu-open");
        }
    </script>
    <footer>
        <p>&copy, 2025 Jorden Thomas AAC Shelter</p>
    </footer>
</body>
</html>